DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRED_SECONDS=
JWT_REFRESH_TOKEN_EXPIRED_SECONDS=

CORS_ALLOW_CREDENTIALS=
CORS_ALLOWED_ORIGIN=
CORS_ALLOWED_PATTERN=
CORS_ALLOWED_METHODS=

SERVLET_MULTIPART_MAX_FILE_SIZE=
SERVLET_MULTIPART_MAX_REQUEST_SIZE=
